.slide {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 100%;
    padding: 0.2rem;
    overflow: hidden;


    &__arrow {
        position: relative;
        display: inline;
        height: 2rem;
        width: 2rem;
        border-radius: 15px;
        border: none;
        padding: 0.1rem;
    }

    &__container {
        width: 100%;
        display: flex;
        list-style: none;
        overflow: scroll;
        scroll-behavior: smooth;
        &::-webkit-scrollbar{
            display: none;
        }
    }

    &__item {
        height: 32.5rem;
        flex: 1 0 100%;
        width: 91.8%;
        display: flex;
        flex-wrap: wrap;
        margin: 1rem auto;
        margin-left: 0.6rem
    }
}